server {
    listen 8868;
    listen [::]:8868;
    server_name localhost;

    # Prevent caching of Flutter entry files
    location = /index.html {
        expires off;
        etag off;
        add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate";
        add_header Pragma "no-cache";
        add_header Expires "0";
    }
    location = /main.dart.js {
        expires off;
        etag off;
        add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate";
        add_header Pragma "no-cache";
        add_header Expires "0";
    }
    location = /flutter_bootstrap.js {
        expires off;
        etag off;
        add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate";
        add_header Pragma "no-cache";
        add_header Expires "0";
    }
    location = /flutter_service_worker.js {
        expires off;
        etag off;
        add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate";
        add_header Pragma "no-cache";
        add_header Expires "0";
    }
    ## Prevent caching of Flutter entry files

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    location /app_config {
        default_type application/json;
        # add_header Content-Type application/json;
        limit_except POST { deny all; }

        return 200 '{
            "oreSvcTargetTier": "$ORE_SVC_TARGET_TIER",
            "userSvcTargetTier": "$USER_SVC_TARGET_TIER",
            "myEnv": "$MY_ENV"
        }';
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/html;
    }
}